<!--Include header-->
<%-include('include/_addhead')%>
<!--Include header-->


 <!--Main site-->
    <main id="site-main">
        <div class="container">    
                <a href="/trans"><i class="fas fa-angle-double-left"></i>All Transaction</a>
            <div class="header">
                <h2 class="text-dark header">Add New Transaction</h2>
            </div>
            <!--Include form-->
            <%-include('include/_form')%>
            <!--Include form-->
        </div>
    </main>
<!--Main site-->

</script>
<!--Include footer-->
<%-include('include/_addfoot')%>
<!--Include footer-->