<!--Header site-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="../assetes/signup.css">
</head>
<body>
    <div class="container">
        <div class="header">
<!--Header site-->
<!--main site-->
            <h2>Add a New Account</h2>
        </div>
        <form action="" class="form" id="form">
            <div class="form-control">
                <label for="username">User name</label>
                <input type="text" name="" id="username" placeholder="full name" autocomplete="off">
                <i class="fa-solid fa-circle-check"></i>
                <i class="fa-solid fa-circle-exclamation"></i>
                <small>invalid username!</small>
            </div>
            <div class="form-control">
                <label for="email">E-mail</label>
                <input type="Email" name="" id="email" placeholder="E-mail address" autocomplete="off">
                <i class="fa-solid fa-circle-check"></i>
                <i class="fa-solid fa-circle-exclamation"></i>
                <small>Enter a valid E-mail Address!</small>
            </div>
            <div class="form-control">
                <label for="phone">Phone Number</label>
                <input type="number" name="" id="phone" placeholder="phone number" autocomplete="off">
                <i class="fa-solid fa-circle-check"></i>
                <i class="fa-solid fa-circle-exclamation"></i>
                <small>Enter a valid phone number!</small>
            </div>
            <input type="Submit" value="Submit" class="btn">
        </form>
    </div>
    <script  type="text/javascript" src="../assetes/up&in.js"></script>
<!--main site-->
<!--footer site-->
</body>
</html>
<!--footer site-->