<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expence Manager</title>
    <link rel="stylesheet" href="css/up&in.css">
</head>
<body>
    <h1 class="maintitle">Expense Manager</h1>
    
    <input type=button class="btn" onClick="parent.location='signup.html'"
 value='signup'>
 <input type=button class="btn" onClick="parent.location='signin.html'"
 value='signin'>   
</body>
</html>